{{#if success}}
    <p>
        {{success}}
    </p>
{{/if}}
{{#if error}}
    <p>
        {{error}}
    </p>
{{/if}}

<h1>Raspberry Pi - Alarm Panel</h1>
<ul id="messages" class="notes"></ul><br>
<h3>Enter password to deactivate alarm</h3>
<input id="password" value="">
<button id="alarm">Alarm</button><br>
<h3>Alarm status</h3>
<p>Red - Activated, Green - Deactivated</p><br>
<div id="led">
</div>
<br>
<br>
<h3>Join our Discord group to see the alarm notifications <a href="https://discord.gg/YAMruf7">here</a>!</h3>
